@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body ul, body li {
    padding: 0;
    margin: 0;
    list-style-type: disc;
}

body a {
    text-decoration: none;
}

input:focus {
    outline: none
}

select::-ms-expand {
    display: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: #ffffff;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.16);
}

body {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    min-width: 270px;
    font-family: 'Noto Sans TC', sans-serif, 'system-ui', '-apple-system', 'Segoe UI', 'Roboto', 'Ubuntu', 'Cantarell', 'Noto Sans', sans-serif, 'BlinkMacSystemFont', 'Helvetica Neue', 'Arial';
    font-weight: 400;
    color: #505561;
    position: relative;
}

header {
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    transition: all .7s;
}

header .WP {
    background-color: #fff;
    width: 1440px;
    height: 97px;
    margin: 0 auto;
    padding: 0 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

header .left {
    width: 20%;
    position: absolute;
    left: 69px;
}

header .left a {
    display: block;
    background: url('../img/logo.png') no-repeat left center;
    background-size: contain;
    height: 57px;
}

header .left a h1 {
    text-indent: -9999px;
    opacity: 0;
}

header .right {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: absolute;
    right: 0;
    width: 281px;
}

header .menu {
    width: 320px;
    position: fixed;
    top: 0;
    right: -320px;
    z-index: 3;
    padding: 80px 0 0;
    background-color: #fff;
    height: 100vh;
}

header .menu img {
    margin: 0 20px 0;
    display: block;
}

header .menu .close {
    padding-left: 1rem;
    font-size: 2.3rem;
    font-weight: 500;
    color: rgba(135, 102, 92, 1);
    position: absolute;
    top: 10px;
    right: 20px;
    transform: rotate(45deg);
    cursor: pointer;
}

header .menu a {
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    color: rgb(114, 114, 114);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 100px;
    padding: 8px 25px 8px 40px;
    box-sizing: border-box;
    position: relative;
}

header .menu a:hover {
    background-color: rgba(241, 244, 246, 1)
}

header .menu a.btn {
    color: #3540FA;
    background-color: #F0F2F5;
    width: 166px;
    height: 62px;
    line-height: 62px;
    border-radius: 8px;
    margin: 50px auto 0;
    text-align: center;
    display: none;
    padding: 0;
}

header .bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000005e;
    display: none;
    z-index: 1;
    margin-right: 10%;
}

header .right a {
    color: rgba(33, 33, 33, 1);
    font-weight: 500;
    display: inline-block;
    width: 93px;
    height: 97px;
    line-height: 97px;
    font-size: 1rem;
    position: relative;
    transition: all .5S;
    border-right: 1px solid rgba(214, 214, 214, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


header .right a:hover {
    background-color: rgb(242, 242, 242);
    border-right: 1px solid rgb(242, 242, 242);
}

header .right a.nav {
    top: 0;
    right: 0;
}

header .nav {
    width: 20px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 33px;
}

header .nav span {
    position: absolute;
    display: block;
    width: 20px;
    height: 3px;
    background: rgba(135, 102, 92, 1);
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

header .nav span:nth-of-type(1) {
    top: 39px;
}

header .nav span:nth-of-type(2) {
    top: 49px;
}

header .nav span:nth-of-type(3) {
    top: 59px;
}

header .right a.star img {
    width: 36px;
    height: 41px;
}

header .right a.login img {
    margin: 10.5px 0;
}

header .right a span {
    font-size: .875rem;
    line-height: normal;
}


/*main*/

#main {
    width: 100%;
    margin-top: 97px;
}

#main .flexslider {
    height: 675px;
    width: 100%;
    border: 0;
    margin: 0;
}

.flexslider .slides img.mobile {
    display: none;
}

#main .sliderWP {
    position: relative;
    background: url('../img/banner.png') center no-repeat;
    background-size: cover;
    height: 90vh;
}

#main .sliderWP .text .big {
    font-size: 3.375rem;
    font-weight: 600;
    color: rgba(53, 64, 250, 1);
    padding-top: 47px;
    padding-left: 60px;
}

#main .sliderWP .text .small {
    font-size: 1.5rem;
    padding-top: 3px;
    padding-left: 60px;
}

#main .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 62px;
    line-height: 62px;
    background: #FFFFFF;
    border-radius: 8px;
}

#main .sliderWP .text p {
    color: #232A37;
}

#main .sliderWP .text .btn {
    margin-top: 36px;
    margin-left: 60px;
    transition: all .5s;
}

#main .btn:hover {
    background-color: rgba(48, 49, 66, 1);
}

#main .btn:hover span {
    color: #fff;
}

#main .btn span {
    font-size: 1.125rem;
    font-weight: 600;
    color: rgba(53, 64, 250, 1);

}

#main .btn .arrow {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background: url('../img/arrow.svg') center no-repeat;
    background-size: contain;
}

#main .btn:hover .arrow {
    background: url('../img/arrowW.svg') center no-repeat;
    background-size: contain;
}

#main .sliderWP .flex-control-nav, .flex-direction-nav a:before, .flex-direction-nav a {
    display: none;
}

#main section.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#main section.flex .left, #main section.flex .right {
    width: 50%;
    position: relative;
    transition: all .8S;
}

#main section.flex .left {
    background: url('../img/section.png') center no-repeat;
    background-size: cover;
    height: 680px;
}

#main section.flex .left:hover::after,
#main section.flex .right .item:hover::after {
    content: '';
    display: block;
    width: 100%;
    height: 680px;
    background-color: rgba(19, 35, 89, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#main section.flex .right .item:hover::after {
    height: 340px;
}

#main section.flex .left .top {
    height: 340px;
}

#main section.flex .right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#main section.flex .right .item {
    height: 340px;
    width: 50%;
    transition: all 0.8s;
    position: relative;
}


#main section.flex .right .item:nth-child(1) {
    background: url('../img/section1.png') left center no-repeat;
    background-size: cover;
}

#main section.flex .right .item:nth-child(2) {
    background: url('../img/section2.svg') center no-repeat;
    background-size: cover;
}

#main section.flex .right .item:nth-child(3) {
    background: url('../img/section3.png') center no-repeat;
    background-size: cover;
}

#main section.flex .right .item:nth-child(4) {
    background: url('../img/section4.svg') center no-repeat;
    background-size: cover;
}

#main section.flex p {
    font-size: 2rem;
}

#main section.flex span {
    font-size: 1rem;
    margin-top: 10px;
}

#main section.flex .left p, #main section.flex .left span {
    color: #fff;
    padding-left: 50px;
}

#main section.flex .left p {
    padding-top: 68px;
}

#main section.flex .left .down {
    width: 100%;
    height: 340px;
    background: url('../img/section.svg') center no-repeat;
    background-size: cover;
}

#main section.flex .left>img {
    position: absolute;
    z-index: 1;
    top: 35%;
    left: 35%;
    width: 200px;
    height: 200px;
}

#main section.flex .right p, #main section.flex .right span {
    color: rgba(33, 33, 33, 1);
    padding-left: 49px;
}

#main section.flex .right p {
    padding-top: 206px;
}

.description {
    max-width: 1300px;
    width: 100%;
    height: 216px;
    margin: 120px auto 111px;
    background: url('../img/description.svg') center no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.description img {
    width: 190px;
}

.description ul li {
    color: #fff;
}

.description .text {
    margin-left: -72px;
}

.description p {
    font-size: 1.75rem;
    color: #fff;
    text-indent: -1rem;
    margin-bottom: 10px;
}


#main .social {
    max-width: 1300px;
    width: 100%;
    margin: 111px auto 0;
    padding-bottom: 73px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#main .social a {
    margin-right: 55px;
}

#main .social a:hover img.black,
#main .social a img.blue {
    display: none;
}

#main .social a img.blue, #main .social a img.black {
    height: 30px;
}

#main .social a:hover img.blue {
    display: block;

}

#main .social a:nth-child(4) {
    margin-right: 0;
}

/*footer*/

footer {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 21px 0 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 0.75rem;
    margin: 0 10px;
}

@media(max-width:1400px) {
    #main .social {
        width: 90%;
        justify-content: center;
    }
}

@media(max-width:1180px) {
    #main section.flex {
        flex-direction: column;
    }

    #main section.flex .left, #main section.flex .right {
        width: 100%;
    }

    header .left {
        width: 26%;
        left: 57px;
    }

    .description {
        height: 225px;
        background-size: cover;
        justify-content: space-between;
        padding: 0 20px;
        box-sizing: border-box;
    }

    /* .flexslider .slides img.pc {
        display: none;
    }

    .flexslider .slides img.mobile {
        display: block;
    } */
    #main .sliderWP {
        background: url('../img/bannerM.png') 10% center no-repeat;
        background-size: cover;
    }
}

@media(max-width:900px) {
    header .menu {
        box-sizing: border-box;
        overflow-y: scroll;
    }

    .description img {
        width: 175px;
    }

    .description p {
        font-size: 1.5rem;
    }

    .description .text {
        margin-left: -8px;
    }

    .description ul li {
        font-weight: 200;
    }
}

@media(max-width:800px) {
    #main .sliderWP {
        background: url('../img/bannerM.png') 30% center no-repeat;
        background-size: cover;
        height: 80vh;
    }

    #main .sliderWP .text .big {
        font-size: 2.5rem;
        margin-top: 25px;
    }

    #main .sliderWP .text .small {
        font-size: 1.3rem;
    }

    #main .sliderWP .btn {
        width: 130px;
    }

    header .menu a {
        line-height: 80px;
    }

    .description {
        background: url('../img/descriptionM.png') center top no-repeat;
        background-size: cover;
        height: 800px;
        margin-top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .description img {
        width: 250px;
        margin-bottom: 80px;
    }

    .description .text {
        margin-left: 0;
        margin-bottom: 130px;
    }

    header .WP, header .right a {
        height: 80px;
    }

    header .right a {
        line-height: 80px;
    }

    #main {
        margin-top: 80px;
    }

    header .nav span:nth-of-type(1) {
        top: 26px;
    }

    header .nav span:nth-of-type(2) {
        top: 36px;
    }

    header .nav span:nth-of-type(3) {
        top: 46px;
    }

    header .right a.star img {
        width: 30px;
        height: 35px;
    }

    header .right a.login img {
        margin: 6.5px 0;
    }

    header .right a span {
        font-size: .75rem;
    }
}


@media(max-width:680px) {
    #main section.flex .left {
        height: 600px;
    }

    header .menu a.btn {
        display: block;
    }

    header .right a.login {
        display: none;
    }

    header .right {
        justify-content: flex-end;
    }

    header .right a.nav {
        border: 0;
        width: 77px;

    }



    #main section.flex .left>img {
        width: 150px;
        height: 150px;
        top: 37%;
    }

    #main section.flex .left .top, #main section.flex .left .down, #main section.flex .right .item {
        height: 300px;
    }

    #main section.flex p {
        font-size: 1.5rem;
    }

    #main section.flex span {
        font-size: 1rem;
    }

    #main section.flex .left p, #main section.flex .left span {
        padding-top: 35px;
        padding-left: 26px;
    }
}

@media(max-width:650px) {
    #main .sliderWP {
        height: 71vh;
    }

    #main .sliderWP .text .big {
        padding-top: 31px;
    }

    #main .sliderWP .text .big,
    #main .sliderWP .text .small {
        padding-left: 20px;
    }

    #main .sliderWP .text .btn {
        margin-left: 20px;
    }

    #main .btn span {
        font-size: 0.95rem;
        font-weight: 500;
    }

    #main .btn .arrow {
        width: 17px;
    }

    header .left {
        left: 20px;
    }

    header .left {
        width: 31%;
    }

    footer {
        flex-wrap: wrap;
    }
}

@media(max-width:580px) {
    #main section.flex .left {
        height: 500px;
    }

    header {
        justify-content: center;
    }

    #main .sliderWP {
        height: 61vh;
    }

    #main section.flex .left .top, #main section.flex .left .down, #main section.flex .right .item {
        height: 250px;
    }

    #main section.flex .right p {
        padding-top: 162px;
    }

    #main section.flex .right p, #main section.flex .right span {
        padding-left: 31px;
    }

}

@media(max-width:500px) {
    #main .sliderWP {
        height: 51vh;
    }

    .description img {
        width: 200px;
    }

    .description {
        height: 700px;
    }

    .description p, #main section.flex p {
        font-size: 1.3rem;
    }

    #main section.flex span {
        font-size: .875rem;
    }

    #main .sliderWP .text .big {
        padding-top: 25px;
    }

    #main .sliderWP .text .big {
        font-size: 2.2rem;
    }

    #main .sliderWP .text .small {
        font-size: 1rem;
    }

    #main .btn {
        height: 48px;
    }

    #main .btn span {
        font-size: 0.9rem;
    }

    header .right a, header .right a.nav {
        width: 63px;
    }

    header .WP, header .right a {
        height: 60px;
    }

    #main {
        margin-top: 60px;
    }

    header .nav span:nth-of-type(1) {
        top: 19px;
    }

    header .nav span:nth-of-type(2) {
        top: 29px;
    }

    header .nav span:nth-of-type(3) {
        top: 39px;
    }

    header .left {
        width: 35%;
    }
}

@media(max-width:450px) {

    header .right a.star img {
        width: 25px;
        height: 30px;
    }

    .description .text {
        margin-left: 26px;
    }

    #main section.flex .left {
        height: 400px;
    }

    #main section.flex .left .top, #main section.flex .left .down, #main section.flex .right .item {
        height: 200px;
    }

    #main section.flex .right p {
        padding-top: 123px;
    }
}


@media(max-width:414px) {
    #main .sliderWP {
        height: 45vh;
    }

    .description {
        height: 600px;
    }

    .description .text {
        margin-left: 30px;
    }

    .description ul li {
        font-size: .85rem;
    }

    #main .sliderWP .text .big {
        font-size: 2rem;
    }

    #main .btn {
        width: 110px;
    }

    #main .btn span {
        font-size: 0.85rem;
    }

    #main .social a img.blue, #main .social a img.black {
        height: 24px;
    }

    #main .social {
        padding-bottom: 64px;
    }
}

@media(max-width:375px) {
    #main .sliderWP .text .big {
        font-size: 1.8rem;
    }


    header .menu a {
        line-height: 80px;
    }

    #main section.flex .left .top, #main section.flex .left .down, #main section.flex .right .item {
        height: 200px;
    }

    #main section.flex .right p {
        padding-top: 128px;
    }
}